{% extends 'todo_list2.html' %}

{% block content %}

<center>
    <h1>TodoList</h1>
    {% if request.user.is_authenticated %}
    Hello {{request.user.username}}
    {% else %}
    Hello anonymous user
    {% endif %}
    <a href="/create">Create a todo</a>
        <!-- to show  what is on todo in list style or loop through -->
        {% for todo in todo_list %}
        <li><a href="/{{todo.id}}">{{ todo.name }}</a>, it's due on {{ todo.due_date }}</li>
        {% endfor %}
    
</center>
{% endblock %}

